{% load i18n %}
{% for category in categories %}
    {% if category.slug == context_category.slug %} current{% endif %}
    <p>
        <a class="menu-text" href="{{ category.get_absolute_url }}"
           title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}">{{ category }}
            <span class="badge">
        {% blocktrans count entry_count=category.count_entries_published %}{{ entry_count }}
            {% plural %}{{ entry_count }}{% endblocktrans %}
      </span>
        </a>
    </p>
{% empty %}
    {% trans "No categories yet." %}
{% endfor %}

