{% load i18n %}
<form method="get" id="main_searchform" action="{% url 'zinnia:entry_search' %}"
      class="well form-search form-horizontal">
    <div class="form-group">
        <h3 class="search-text">{% trans "Search" %}</h3>
        <br>
        <div class="input-group col-xs-12 col-sm-12 col-md-11 col-lg-11 search-form" id="search-form">
            <input type="text" value="{{ pattern }}"
                   name="pattern"
                   id="main_searchbox"
                   class="form-control input-lg"
                   placeholder="Search"/>
            <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit" name="submit">
                             <i class="glyphicon glyphicon-search"></i>
                        </button>
             </span>
        </div>
    </div>
</form>
