{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row rel-pos">
            <div class="col-xs-12 col-sm-6 no-padd s-back-switch s-img-col">
                <img src="{{MEDIA_URL}}/{{ sliders.4.image }}" alt="img" class="s-img-switch">
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-push-6 no-padd">
                <div class="contact-5-quote-wrap">
                    <blockquote class="contact-5-quote">
                        <p>Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get
                            on with improving your other innovations.</p>
                        <cite>Steve Jobs</cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
{% include "frontend/about.html" %}
    <!--==========Content============-->
{% include "frontend/jobs.html" %}
{% endblock %}