{% extends "frontend/base.html" %}
{% load static %}
{% block content %}

    <!--==========Content============-->
    <div class="row">
        <div class="col-md-12">
            <div class="contact-5">
                <div class="map_shortcode_wrapper" id="map1450961113845587996" style="width:100%; height: 450px;">
                    <div class="map-marker" data-title="Plovdiv, BG" data-latlng="42.1263909,24.749629">
                        <div class="map-infowindow">Plovdiv, BG</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid no-padd bg-c-1">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row marg-xs-t50 marg-lg-t110">
                        <div class="col-xs-12 col-sm-6">
                            {% for i in info %}
                                <div class="contact-5-info ">
                                    <h4 class="info-title">Contact Info</h4>
                                    <p class="info-text"><strong>Notice:</strong> {{ i.contact_info }}</p>
                                    <p><strong>Email:</strong> <a class="" href="mailto:#">{{ i.email }}</a>
                                        <br>
                                        <strong>Phone:</strong> {{ i.phone }}
                                        <br>
                                        <strong>Skype:</strong> {{ i.skype }}
                                        <br>
                                        <strong>Address:</strong> {{ i.address }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="contact-5-info ">
                                <h5 class="info-title">Additional Info</h5>
                                <p class="info-text">I currently work full-time as a 3d Artist at Designconnected
                                    my responsibilities include rendering, modeling, texturing,
                                    lighting and basic animation.
                                </p>
                                <p><strong>Email:</strong> <a class="" href="mailto:#">tihomir@designconnected.com</a>
                                    <br>
                                    <strong>Designconnected</strong>
                                    <br>
                                    <strong>Skype :</strong> tiho_blazhev
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="team">
            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="team-block">
                    <img src="{% static "images/team-6.jpg" %}" alt="">
                    <div class="later-team">
                        <h4>Tihomir Blajev</h4>
                        <h6>3D Artist</h6>
                        <div class="hiden-text">
                            <p>For more aditional information like PDF,
                                complete CV, feel free to contact me.</p>
                            <div class="team-share">
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-pinterest"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-2 style-2">
                <h2>Drop me a line</h2>
                <form action="http://wp.city/" class="marg-lg-t30">
                    <fieldset class="clearfix">
                        <input type="text" class="cont-5-inp name" placeholder="First Name*">
                        <input type="text" class="cont-5-inp email" placeholder="Last Name">
                    </fieldset>
                    <fieldset class="clearfix">
                        <input type="email" class="cont-5-inp name" placeholder="E-mail address*">
                        <input type="text" class="cont-5-inp email" placeholder="Website">
                    </fieldset>
                    <fieldset>
                        <textarea cols="40" rows="6" class="cont-5-inp" placeholder="Message*"></textarea>
                    </fieldset>
                    <fieldset class="submit-fieldset">
                        <input type="submit" class="submit" value="Send Email">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}