{% extends "frontend/base.html" %}
{% load static %}
{% block content %}

    <!--==========Content============-->
    <div class="row">
        <div class="col-md-12">
            <div class="contact-5">
                <div class="map_shortcode_wrapper" id="simplegmaps-1" style="width:100%; height: 450px;">
                    <div class="map-marker" data-title="Plovdiv, BG" data-latlng="42.1263909,24.749629">
                        <div class="map-infowindow">Plovdiv, BG</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'frontend/info.html' %}
    <div class="container-fluid">
        <div class="team">
            <div
                    class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="team-block">
                    <img src="{% static "images/team-6.jpg" %}" alt="">
                    <div class="later-team">
                        <h4>Tihomir Blajev</h4>
                        <h6>3D Artist</h6>
                        <div class="hiden-text">
                            <p>For more aditional information like PDF, complete CV, feel
                                free to contact me.</p>
                            <div class="team-share">
                                <a href="https://www.facebook.com/tblajev" class="fa fa-facebook"></a>
                                <a href="https://plus.google.com/u/0/111015710125146416925" class="fa fa-google-plus"></a>
                                <a href="https://twitter.com/raylight75" class="fa fa-twitter"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-2 style-2">
                {% for field in form %}
                    <div class="col-sm-offset-2 col-sm-10">
                        <span class="text-danger small">{{ field.errors }}</span>
                    </div>
                {% endfor %}
                <h2>Drop me a line</h2>
                <form action="" class="marg-lg-t30" method="post">
                    {% csrf_token %}
                    <fieldset class="clearfix">{{ form.contact_email }} {{ form.subject }}</fieldset>
                    <fieldset>{{ form.message }}</fieldset>
                    <fieldset class="submit-fieldset">
                        <input type="submit" class="submit" value="Send Email">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {% for message in messages %}
        <div class="alert alert-success {{ message.tags }}"
                {% if message.tags %}
                {% endif %}>{{ message }}
        </div>
    {% endfor %}
{% endblock %}