<!--==========miami-footer============-->
<footer class="miami-footer">
    <div class="container-fluid">
        <div class="footer">
            <div class="vertical-align">
                <div class="contact-socail large">
                    <a href="https://www.facebook.com/tblajev">
                        <i class="fa fa-facebook"></i></a>
                    <a href="contacts"><i class="fa fa-envelope"></i></a>
                    <a href="skype:tiho_blazhev?userinfo"><i class="fa fa-skype"></i></a>
                    <a href="https://plus.google.com/u/0/111015710125146416925">
                        <i class="fa fa-google-plus"></i></a>
                    <a href="http://www.facebook.com/sharer/sharer.php?u=www.tihoblajev.com">
                        <i class="fa fa-share"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>