<!--==========Content============-->
{% extends "frontend/base.html" %}
{% block content %}
{% load static %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="slider-container slider-filter active" data-filter="nature">
                    <div class="slider-wrap">
                        <div class="swiper-container main-slider" id="slider-1" data-autoplay="4000" data-touch="1"
                             data-mouse="0" data-slides-per-view="1" data-loop="0" data-speed="1200"
                             data-mode="horizontal">
                            <div class="count">
                                <h4><span>0<i>1</i></span>/03</h4></div>
                            <div class="swiper-wrapper">
                                {% for slide in sliders %}
                                <div class="swiper-slide">
                                    <div class="clip height-container">
                                        <div class="bg-slide" style="background-image:url({{MEDIA_URL}}/{{ slide.image }})">
                                        </div>
                                    </div>
                                    <div class="main-title title-home">
                                        <h2>{{ slide.title }}</h2>
                                        <div class="img-seperator"></div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="slide-prev"><i class="fa fa-long-arrow-left"></i></div>
                            <div class="slide-next"><i class="fa fa-long-arrow-right"></i></div>
                            <div class="pagination vertical-mode pagination-index"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}