<div class="container-fluid no-padd bg-c-1">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row marg-xs-t50 marg-lg-t110">
                        <div class="col-xs-12 col-sm-6">
                            <div class="contact-5-info">
                                <!-- tabs -->
                                <div class="contact-5-tabs">
                                    <ul class="tab-nav">
                                        <li class="active">
                                            <a href="">Communications Sergeant Major </a>
                                        </li>
                                    </ul>
                                    <div class="tab-panes">
                                        <div class="contact-5-tab pane-1 active">
                                            <h5>15+ Years Experience</h5>
                                            <p>Operate and maintain FM, AM, HF, VHR, UHF and SHF
                                                radios and associated antennae and System Administrator in
                                                68 Brigade SOF.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="contact-5-info">
                                <!-- tabs -->
                                <div class="contact-5-tabs">
                                    <ul class="tab-nav">
                                        <li class="active">
                                            <a href="">3D Artist at Designconnected </a>
                                        </li>
                                    </ul>
                                    <div class="tab-panes">
                                        <div class="contact-5-tab pane-1 active">
                                            <h5>5+ Years Experience</h5>
                                            <p>I currently work full-time as a 3d Artist at Designconnected
                                                my responsibilities include rendering, modeling, texturing, lighting
                                                and basic animation
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>