{% load static %}
<script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
<script src="{% static "js/modernizr.custom.js" %}"></script>
<script src="{% static "js/appear.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/device.min.js" %}"></script>
<script src="{% static "js/idangerous.swiper.min.js" %}"></script>
<script src="{% static "js/isotope.pkgd.min.js" %}"></script>
<script src="{% static "js/masonry.pkgd.min.js" %}"></script>
<script src="{% static "js/jquery.circliful.min.js" %}"></script>
<script src="{% static "js/jquery.dlmenu.js" %}"></script>
<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
<script src="{% static "js/jquery.event.move.js" %}"></script>
<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
<script src="http://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="{% static "js/jquery.simplegmaps.min.js" %}"></script>
<script src="{% static "js/google_maps/script-map-shortcode-1.js" %}"></script>
<script src="{% static "js/jquery.spincrement.js" %}"></script>
<script src="{% static "js/jquery.twentytwenty.js" %}"></script>
<script src="{% static "js/wow.min.js" %}"></script>
<script src="{% static "js/jquery.youtubebackground.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>