{% extends "zinnia:zinnia/base.html" %}
{% load zinnia i18n %}
{% load zinnia %}

{% block sidebar %}
    <div class="col-md-12">
        <div class="miami-details-info">
            <!-- miami details info -->
            <ul class="list-details">
                <li>
                    <div class="content-info-det">
                        <h6>{% trans "Categories" %}</h6>
                        {% get_categories %}
                    </div>
                </li>
                <li>
                    <div class="content-info-det">
                        <h6>{% trans "Authors" %}</h6>
                        {% get_authors %}
                    </div>
                </li>
                <li>
                    <div class="content-info-det">
                        <h6>{% trans "Recent entries" %}</h6>
                        {% get_recent_entries %}
                    </div>
                </li>
                <li>
                    <div class="content-info-det">
                        <h6>{% trans "Recent comments" %}</h6>
                        {% get_recent_comments %}
                    </div>
                </li>
                {% comment %}<li>
                    <div class="content-info-det">
                        <h6>{% trans "Popular entries" %}</h6>
                        {% get_popular_entries %}
                    </div>
                </li>{% endcomment %}
                <li>
                    <div class="content-info-det">
                        <h6>{% trans "Tags" %}</h6>
                        {% get_tag_cloud %}
                    </div>
                </li>
            </ul>
            {% comment %}{% block content-related %}
            {% endblock content-related %}{% endcomment %}
        </div>
        <aside class="sidebar-layouts">
            <ul>
                <li class="widget">
                    <h4 class="widget-title">Follow Me On</h4>
                    <div class="social-links">
                        <ul>
                            <li><a href="https://www.facebook.com/tblajev">
                                <i class="fa fa-facebook"></i></a></li>
                            <li><a href="contacts"><i class="fa fa-envelope"></i></a></li>
                            <li><a href="skype:tiho_blazhev?userinfo"><i class="fa fa-skype"></i></a></li>
                            <li><a href="https://plus.google.com/u/0/111015710125146416925">
                                <i class="fa fa-google-plus"></i></a></li>
                            <li><a href="http://www.facebook.com/sharer/sharer.php?u=www.tihoblajev.com">
                                <i class="fa fa-share"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </aside>
        {% if user.is_authenticated %}
            <aside id="widget-tools" class="widget panel panel-danger">
                <div class="sidemenu">
                    {% trans "Tools" %}
                </div>
                <ul class="list-group">
                    {% if perms.zinnia %}
                        <li class="list-group-item">
                            <a href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "Dashboard" %}">
                                <span class="glyphicon glyphicon-book"></span>
                                {% trans "Dashboard" %}
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.zinnia.add_entry %}
                        <li class="list-group-item">
                            <a href="{% url 'admin:zinnia_entry_add' %}" title="{% trans "Post an entry" %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                                {% trans "Post an entry" %}
                            </a>
                        </li>
                    {% endif %}
                    {% block admin-tools %}
                    {% endblock admin-tools %}
                    <li class="list-group-item">
                        <a href="{% url 'admin:logout' %}" title="{% trans "Log out" %}">
                            <span class="glyphicon glyphicon-off"></span>
                            {% trans "Log out" %}
                        </a>
                    </li>
                </ul>
            </aside>
        {% endif %}
    </div>
{% endblock sidebar %}
